body {
    display: grid;
    grid-template-areas: 
    "aside header" /* 1ª linha*/ 
    "aside main"; /* 2ª linha*/
    grid-template-columns: auto 1fr; /* fração divide a página */ 
}
.cabecalho {
    grid-area: header;
}
.menu-lateral {
    grid-area: aside;
}
.principal {
    grid-area: main;
}